---
layout: ""
page_title: "Provider: Ardoq"
description: |-
  The Ardoq provider provides resources to interact with the Ardoq API
---

# Ardoq Provider

This is a pre-release of this provder. Documentation is actively being worked on. (July/early August 2021)

The Ardoq provider provides resources to interact with the Ardoq API

This provider uses Token authentication.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}