---
layout: ""
page_title: "Provider: Ardoq"
description: |-
  The Ardoq provider provides resources to interact with the Ardoq API
---

# Ardoq Provider

The Ardoq provider provides resources to interact with the Ardoq API

This provider uses Token authentication.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}